$primary: #D21A1A;
$secondary: #C40009;
$light: #fff;
$dark: #302929;
$info: #ccc;

$danger: #fff;
$success: #00AD00;
$warning: #F89996;

$theme-colors: ( "primary": $primary, "secondary": $secondary, "light": $light, "dark": $dark, "info": $info);


@import "../node_modules/bootstrap/scss/bootstrap.scss";
.btn.btn-primary[disabled] {
    background-color: $primary;
}

/** GENERAL **/

* {
    font-family: Montserrat, sans-serif;
}


h4, .custom-info, .custom-detail-text, .custom-separator > p {
    font-family: "Exo 2", sans-serif !important;
}

.custom-link:hover {
    transform: scale(1.1);
}

/* General Card */

.custom-card, .custom-card-detail, .custom-main-card, .custom-latest-main-card {
    border: 0px;
    margin-bottom: 30px;
}

.custom-card {
    width: 23em;
}

.custom-card-detail {
    height:fit-content;
    width: 100%;
}

.custom-detail-image {
    min-height: 180px;
    max-height: 180px;
    object-fit: fill;
}

.custom-image-news {
    min-height: 250px;
    max-height: 250px;
    object-fit: fill;
}

.custom-card-link {
    color: black;

    &:hover {
        color: $secondary;
        
        div > h5 {
            transform: scale(1.05);
        }
    }
}

/* Header */

.custom-nav {
    width: 100%;
    background-color: #524B4B !important;
}

.custom-logo {
    width: 32px;
    height: 32px;
}

/* Footer */

.custom-footer-logo {
    max-width: 128px;
    max-height: 128px;
}

.custom-footer-social {
    width: 32px;
    height: 32px;
}

/** Main Page **/

.custom-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(90, 1px);
    grid-gap: 7px;
}

.custom-first-news {
    grid-column: 2 / 4;
    grid-row: 1 / 55;
}

.custom-second-news {
    grid-column: 1;
    grid-row: 1 / 35;
}

.custom-third-news {
    grid-column: 1;
    grid-row: 35 / 70;
}

.custom-fourth-news {
    grid-column: 2 / 3;
    grid-row: 55 / 90;
}

.custom-fifth-news {
    grid-column: 3 / 4;
    grid-row: 55 / 90;
}

.custom-initial-ad {
    grid-column: 1;
    grid-row: 70 / 90;
}

.custom-primary-main-card, .custom-secondary-main-card, .custom-terciary-main-card {
    object-fit: cover;
}

.custom-primary-main-card {
    max-height: 350px;
}

.custom-secondary-main-card {
    max-height: 220px;
}

.custom-terciary-main-card {
    max-height: 200px;
}

.custom-main-separator {
    border-top: 1px solid $dark;
    border-bottom: 1px solid $dark;
}

.custom-category-container {
    display: contents !important;
}

.custom-latest-main-card {
    width: 22em;
}

.custom-video-slider {
    min-height: 40vh;
    max-height: 40vh;
    background-color: black;
}

.custom-video-caption-header {
    font-size: 26px;
}

.custom-video-caption-text {
    font-size: 24px;
}

/** Detail Page **/

.custom-related {
    height: 35px;
}

.custom-detail-header {
    width: 100%;
    height: 50vh;
}

.custom-separator {
    border-top: 1px solid black;

    p {
        font-size: 14px;
    }
}

.custom-detail-text {
    text-align: justify;
}

/** Contact Page **/

.custom-input {
    border: 0;
    box-shadow: 0 0 0 0.7px lightgray;
}

.custom-input:not(:focus):not(:placeholder-shown):invalid {
    color: $primary;
    background-color: #F89996;
    box-shadow: 0 0 0 2px $primary;
}

.custom-input:focus {
    box-shadow: 0 0 0 2px black;
}

.custom-input:valid {
    box-shadow: 0 0 0 2px $success;
    color: $success;
}

.custom-active-link {
    color: white !important;
}

/** Bootstrap Modification **/

.carousel-caption {
    padding: 10px;
    background: rgba(0, 0, 0, 0.40);
}

.carousel-control-next-icon {
    position: absolute;
    left: 50px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); 
}

.carousel-control-prev-icon {
    position: absolute;
    right: 50px;
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-indicators .active {
    opacity: 1;
    background-color: $primary;
  }

/** Media Queries **/


@media screen and (min-width: 650px) {
    .custom-grid {
        grid-gap: 7.5px;
    
    }
}

@media screen and (min-width: 850px) {
    .custom-grid {
        grid-gap: 8.5px;
    }
}

@media screen and (min-width: 1150px) {
    .custom-video-slider {
        min-height: 60vh;
        max-height: 60vh;
    }
}